table {
	color:  blue;
	border-collapse: collapse;
}

table caption {
	color:  #555;
	font-weight: bold;
}

table tr th, 
table tr td{
	text-align: center;
	border:  solid 1px #777;
}

table tr:nth-child(1) th:nth-child(1) {
	border:  none;
}

code {
	color:  red;
}